@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: "LogoTypeGothic7";
    font-style: normal;
    font-weight: 600;
    src: url(/fonts/ロゴたいぷゴシック.otf) format("otf");
}